.distance-section {
  text-align: center;
  padding: 60px 20px;
}

.distance-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 40px 0;
}

.card {
  width: 220px;
  transform: rotate(-5deg);
}

.card.right {
  transform: rotate(5deg);
}

.card img {
  width: 100%;
  border-radius: 16px;
}

.center h2 {
  font-size: 40px;
}

.bottom-info {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 30px;
}